/android_adt/libs/arm64-v8a/*.so
/android_adt/libs/armeabi-v7a/*.so
/android_adt/libs/armeabi/*.so
/android_adt/libs/x86/*.so
/android_adt/libs/x86_64/*.so
/android-project/app/libs/arm64-v8a/*.so
/android-project/app/libs/armeabi-v7a/*.so
/android-project/app/libs/armeabi/*.so
/android-project/app/libs/x86/*.so
/android-project/app/libs/x86_64/*.so


*.pdb
*.obj
#*.lib
*.exp
#*.log
*.tlog
*.sdf
*.suo
*.user
*.res
*.sbr
*.VC.db
*.cache
*.~cpp
*.~h
*.bak
*.map
.vs/
.vscode/
*~
Debug
Release
build/
plugin
plugin64
common/msg/text/*.json
common/msg/text/*.h
common/msg/text/*.cpp
common/msg/text/*.rc
#savedata
#data
krkrz_libplugin
vcpkg_installed
.DS_store
